.about {
  width: 100%;
  display: flex;
  padding: 33px 0 88px 0;
  flex-direction: column;
  align-items: center;
  background: $dark-blue-4 url("../img/about-mobile@1x.png") no-repeat no-repeat 90% 110px;
  color: $white;
  border-radius: 0 0 30px 30px;
}

.about__wrapper {
  width: 270px;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  box-sizing: border-box;
}

.about__title {
  color: $orange-1;
  font-size: 24px;
  line-height: 24px;

  @include primary-font($bold);
}

.about__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  width: 210px;

  @include primary-font($light);
}

.about__text--bold {
  @include primary-font($bold);
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    padding: 139px 0 88px 0;
    background: $dark-blue-4 url("../img/about-tablet@1x.png") no-repeat 90% 140px;
  }

  .about__wrapper {
    width: $tablet-width-container;
  }

  .about__title {
    font-size: 45px;
    line-height: 45px;
    padding: 0;
    margin: 0 0 43px 0;
  }

  .about__text {
    font-size: 28px;
    line-height: 33px;
    width: 300px;
    margin: 0 0 53px 0;
  }

  .about__text--bold {
    font-size: 21px;
    line-height: 25px;
  }

  .about__button {
    display: block;
    width: 274px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0;
    background: $dark-blue-4 url("../img/about-desktop@1x.png") no-repeat bottom right;
  }

  .about__wrapper {
    width: $desktop-width-container;
    padding: 0;
    min-height: 750px;
    justify-content: center;
  }

  .about__title {
    margin: 0 0 61px 0;
  }

  .about__text {
    width: 615px;
    margin: 0 0 44px 0;
  }

  .about__text--bold {
    width: 410px;
    margin: 0 0 86px 0;
  }
}
