.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 31px 0 65px 0;
  color: $white;
  border-radius: 0 0 30px 30px;
  background: $dark-blue-1 url("../img/about-mobile@1x.png") no-repeat no-repeat right 49% center;

  @media (min-resolution: $retina-dppx) {
    background: $dark-blue-1 url("../img/about-mobile@2x.png") no-repeat no-repeat right 49% center;
    background-size: contain;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;

  @include container($mobile-width, $mobile-container-2);
  box-sizing: border-box;
}

.about__title {
  margin: 0 0 20px 0;
  color: $orange-1;
  font-size: 24px;
  line-height: 24px;

  @include primary-font($bold);
}

.about__text {
  width: 210px;
  padding: 0;
  margin: 0 0 18px 0;
  font-size: 16px;
  line-height: 22px;

  @include primary-font($light);
}

.about__text-br--tablet {
  display: none;
}

.about__text--bold {
  @include primary-font($bold);
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    padding: 96px 0 88px 0;
    background: $dark-blue-1;
    border-radius: 0 0 60px 60px;
  }

  .about__wrapper {
    background: $dark-blue-1 url("../img/about-tablet@1x.png") no-repeat right 8px top 8px;

    @media (min-resolution: $retina-dppx) {
      background: $dark-blue-1 url("../img/about-tablet@2x.png") no-repeat right 8px top 8px;
      background-size: 374px;
    }

    @include container($tablet-width, $tablet-container-1);
  }

  .about__title {
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 45px;
    line-height: 45px;
  }

  .about__text {
    width: 300px;
    margin: 0 0 32px 0;
    font-size: 28px;
    line-height: 33px;
  }

  .about__text-br {
    display: none;
  }

  .about__text-br--tablet {
    display: inline-block;
    width: 30px;
  }

  .about__text--bold {
    margin: 0 0 53px 0;
    font-size: 21px;
    line-height: 25px;
  }

  .about__button {
    display: block;
    width: 274px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 0;
    background-color: $dark-blue-4;
  }

  .about__wrapper {
    min-height: 750px;

    @include container($desktop-width, $desktop-container-1);
    padding-top: 126px;

    background: url("../img/about-desktop@1x.png") no-repeat top 85px right 60px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/about-desktop@2x.png") no-repeat top 85px right 60px;
      background-size: 629px;
    }
  }

  .about__title {
    margin: 0 0 61px 0;
  }

  .about__text {
    width: 615px;
    margin: 0 0 38px 0;
  }

  .about__text-br--tablet {
    display: none;
  }

  .about__text--bold {
    width: 410px;
    margin: 0 0 86px 0;
  }
}
