.accordion {
  margin: 0 0 10px 0;
  padding: 0;
  border: none;
  border-top: 1px solid $border-orange-1;
}

.accordion__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 11px 0 0 1px;
}

.accordion__title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.accordion__toggle {
  height: 10px;
  width: 10px;
  border: none;
  background: url("../img/dropdown.svg") no-repeat center right 1px;
  background-size: 8px 8px;
}

.accordion__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.accordion__transport {
  flex-direction: row;
}

.accordion__item {
  margin-bottom: 12px;
}

.accordion__label {
  position: relative;
  font-size: 15px;
  line-height: 15px;
  color: $text-grey;

  @include primary-font($normal);

  .accordion__indicator {
    position: absolute;
    top: -4;
    left: -27px;
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: $white;
    border-radius: 4px;
  }
}

.accordion__input:checked ~ .accordion__indicator {
  background: $white url("../img/tick.svg") no-repeat center center; //Сделать иконку для чекбокса
  background-size: 10px;
}

.accordion--is-closed {
  .accordion__list {
    display: none;
  }
}

.accordion--is-open {
  margin: 0 0 7px 0;

  .accordion__wrapper {
    margin-bottom: 15px;
  }

  .accordion__toggle {
    transform: rotate(180deg);
    background: url("../img/dropdown.svg") no-repeat center left 1px;
    background-size: 8px 8px;
  }

  .accordion__list {
    margin-left: 27px;
  }

  .accordion__transport {
    margin: 0 0 12px 0;
  }
}

.accordion--level {
  .accordion__wrapper {
    margin-bottom: 12px;
  }
}

@media (min-width: $tablet-width) {
  .accordion {
    border: none;
    margin: 0 0 12px 0;
  }

  .accordion__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 21px;
    padding: 0;
  }

  .accordion__title {
    font-size: 20px;
    line-height: 30px;
  }

  .accordion__toggle {
    display: none;
  }

  .accordion__list {
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    margin-left: 162px;
    margin-top: -45px;
  }

  .accordion__item {
    margin-right: 55px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .accordion__label {
    display: inline-block;
    width: 115px;
    font-size: 20px;
    line-height: 20px;

    .accordion__indicator {
      top: -4px;
      left: -36px;
      width: 24px;
      height: 24px;
    }
  }

  .accordion__transport {
    justify-content: flex-start;
    margin: -55px 0 0 125px;
  }

  .accordion__level-controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-left: 125px;
    margin-top: -61px;
  }

  .accordion--is-closed {
    .accordion__list {
      width: auto;
      display: flex;
    }
  }

  .accordion--is-open {
    .accordion__wrapper {
      margin-bottom: 21px;
    }

    .accordion__list {
      width: auto;
      margin-left: 161px;
    }
  }

  .accordion--transport {
    padding-top: 8px;

    .accordion__list {
      margin-left: 120px;
      margin-top: -60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .accordion__toggle {
    display: block;
  }

  .accordion__wrapper {
    width: 191px;
    margin-bottom: 23px;
  }

  .accordion__item {
    margin-bottom: 20px;
  }

  .accordion__label {
    .accordion__indicator {
      top: -1px;
      left: -34px;
    }
  }

  .accordion--is-closed {
    .accordion__list {
      display: none;
    }

    .accordion__wrapper {
      margin-bottom: 0;
    }

    .accordion__level-controls {
      display: none;
    }
  }

  .accordion--transport.accordion--is-closed {
    margin: 0 0 12px 0;
  }

  .accordion--is-open {
    margin: 0 0 7px 0;

    .accordion__list {
      flex-direction: row;
      margin: 0 0 0 35px;
    }
  }

  .accordion--transport {
    padding-top: 0;
    margin: 0 0 28px 0;

    .accordion__wrapper {
      margin-bottom: 14px;
    }

    .accordion__transport {
      margin: 0 0 0 0;
    }
  }

  .accordion--level {
    .accordion__wrapper {
      margin-bottom: 14px;
    }
  }

  .accordion__level-controls {
    margin: 0 0 0 0;
    flex-direction: column;
  }
}
