.action-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  color: $dark-blue-3;

  @include primary-font($bold);
}

.action-list__item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 21px 25px;
  margin-top: -20px;
  box-sizing: border-box;
  list-style: none;
  border-radius: 10px;

  &:nth-child(1) {
    background-color: $orange-1;
    margin: 0;
  }

  &:nth-child(2) {
    background-color: $orange-2;
  }

  &:nth-child(3) {
    background-color: $orange-3;
  }

  &:nth-child(4) {
    background-color: $orange-4;
    height: 80px;
  }
}

.action-list__count {
  position: absolute;
  top: 23px;
  right: 23px;
  font-size: 18px;
  color: $white;

  @include primary-font($bold);
}

@media (min-width: $tablet-width) {
  .action-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 24px;
  }

  .action-list__item {
    width: calc(50% + 40px);
    height: 140px;
    padding: 29px 32px;
    margin: 0;

    &:nth-child(1) {
      background-color: $orange-1;
      border-radius: 20px 20px 0 0;
    }

    &:nth-child(2) {
      width: 50%;
      margin-left: -40px;
      background-color: $orange-2;
      border-radius: 20px 20px 0 0;
    }

    &:nth-child(3) {
      background-color: $orange-3;
      border-radius: 0 0 20px 20px;
    }

    &:nth-child(4) {
      width: 50%;
      margin-left: -40px;
      background-color: $orange-4;
      border-radius: 0 0 20px 20px;
      height: 140px;
    }
  }

  .action-list__count {
    top: auto;
    bottom: 30px;
    left: 34px;
    right: auto;
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .action-list {
    justify-content: space-between;
    flex-wrap: wrap;

    @include container($desktop-width, $desktop-container);
  }

  .action-list__item {
    &:nth-child(n) {
      width: 315px;
      height: 107px;
      margin: 0 0 0 -30px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(2) {
      width: calc(345px + 30px);
    }

    &:nth-child(3) {
      width: calc(345px + 30px);
    }

    &:first-child {
      width: 345px;
      margin: 0;
    }

    &:last-child {
      border-radius: 20px;

      .action-list__count {
        right: 30px;
      }
    }
  }

  .action-list__count {
    top: 30px;
    bottom: auto;
    right: 60px;
    left: auto;
    font-size: 24px;
  }
}
