.button {
  display: inline-block;
  width: 100%;
  padding: 30px 0 30px 25px;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  line-height: 0;
  color: $dark-blue-2;

  @include primary-font($bold);
  background: $orange-4 url("../../img/triangle-arrow-right.svg") no-repeat right 20px center;
  background-size: 14px 14px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button--round {
  padding: 20px 0;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-blue-3;
  background: $orange-4;
  border-radius: 20px;
}

.button--border {
  padding: 28px 0 28px 21px;
  color: $black;
  background-color: transparent;
  background-position: right 18px center;
  border: solid 3px $dark-blue-1;
}

.button--transparent-bg {
  position: relative;
  padding: 10px 0 10px 31px;
  margin: 0;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-blue-3;
  background: none;
  border: none;

  &::before {
    position: absolute;
    top: -1px;
    left: 60px;
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background: url("../img/show-more-plus.svg") no-repeat center center;
  }
}

.button--no-bg {
  padding: 15px 25px;
  font-size: 16px;
  background: none;
}

.button--grey-bg {
  padding: 20px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-grey-3;
}

.button--white-bg {
  background-color: $white;
}

.button--country-filter {
  position: relative;
  padding: 20px 0 20px 108px;
  text-align: left;
  text-transform: uppercase;
  background: $bg-grey-5;
  border-radius: 20px;

  &::before {
    position: absolute;
    top: 14px;
    left: 85px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    background: url("../../img/filter-close.svg") no-repeat center right;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 24px;
    padding: 40px 0 40px 33px;
    border-radius: 20px;
    background-position: right 33px center;
  }

  .button--round {
    font-size: 20px;
    border-radius: 20px;
  }

  .button--round-header {
    width: 190px;
  }

  .button--country-filter {
    font-size: 20px;
    padding: 50px 0 50px 282px;

    &::before {
      top: 40px;
      left: 243px;
      width: 19px;
      height: 19px;
    }
  }

  .button--no-bg {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }

  .button--grey-bg {
    padding: 30px 0;
  }

  .button--border {
    padding: 37px 33px;
    background-position: right 31px center;
  }

  .button--white-bg {
    padding: 25px 0;
    border-radius: 25px;
  }

  .button--transparent-bg {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    padding: 40px 0 40px 35px;
    border-radius: 20px;
  }

  .button--round {
    padding: 40px 0 40px 34px;
    font-size: 20px;
    border-radius: 20px;
  }

  .button--round-header {
    width: 190px;
    padding: 25px 0;
    border-radius: 25px;
  }

  .button--transparent-bg {
    padding: 0;
  }

  .button--white-bg {
    padding: 25px 0;
  }

  .button--border {
    padding: 38px 33px;
    background-position: right 32px center;
  }
}
