.button {
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: $light-gold;
  padding: 30px 0 30px 25px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  line-height: 0;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.button--round {
  font-size: 17px;
  text-transform: uppercase;
  padding: 20px 0;
  border-radius: 20px;
  color: $dark-blue-3;
  text-align: center;
}

.button--border {
  background-color: transparent;
  border: solid 3px $dark-blue-1;
  padding: 24px;
  color: #000000;
}

.button--transparent-bg {
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 17px;
  text-transform: uppercase;
  color: $dark-blue-3;
}

.button--no-bg {
  padding: 0;
  background: none;
  font-size: 16px;
}

.button--grey-bg {
  background-color: #dfe3f0;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  text-transform: uppercase;
}

.button--white-bg {
  background-color: #ffffff;
}

.button--country-filter {
  background-color: #d6daed;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 24px;
    padding: 40px 0 40px 25px;
  }

  .button--round {
    font-size: 20px;
    border-radius: 20px;
  }

  .button--no-bg {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }

  .button--grey-bg {
    padding: 30px 0;
  }

  .button--border {
    padding: 37px;
  }

  .button--white-bg {
    padding: 25px 0;
  }

  .button--transparent-bg {
    padding: 0;
    line-height: 30px;
    font-size: 20px;
  }
}
