.calendar {
  width: 100%;
}

.calendar__title-wrapper {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 11px 0;
  margin-bottom: 17px;
  border-top: 1px solid $bg-grey-2;
  border-bottom: 1px solid $bg-grey-2;
}

.calendar__title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.calendar__control {
  font-size: 0;
  border: none;
  opacity: 0.3;
}

.calendar__control--prev {
  background: url("../img/month-arrow-left.svg") no-repeat center center;
  background-size: 9px 17px;
}

.calendar__control--next {
  background: url("../img/month-arrow-right.svg") no-repeat center center;
  background-size: 9px 17px;
}

.calendar__table {
  width: 210px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;

  @include primary-font($normal);
  border-collapse: collapse;
  box-sizing: border-box;
}

.calendar__cell {
  border: 1px solid $border-grey-1;
  background-color: $bg-grey-1;
}

.calendar__cell--active {
  border: 2px solid $calendar-orange;
  background-color: $dark-blue-1;
}

.calendar__cell--selected {
  background-color: $dark-blue-1;
}

.calendar__cell--inactive {
  background-color: $white;
}

.calendar__day-of-week {
  color: $text-grey;
  background-color: $white;
}

.calendar__day-name {
  display: inline-block;
  width: 10px;
  padding-left: 5px;
  height: 26px;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 26px;
  overflow: hidden;
}

.calendar__day-of-week--weekend {
  color: $calendar-orange;
}

.calendar__day-number {
  display: inline-block;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  line-height: 24px;
  background-color: $bg-grey-1;
  border: none;
}

.calendar__day-number--inactive {
  background-color: $white;
}

.calendar__day-number--selected {
  background-color: $dark-blue-2;
  color: $white;
}

.calendar__day-number--active {
  border: 2px solid $calendar-orange;
  color: $white;
  background-color: $dark-blue-2;
}

@media (min-width: $tablet-width) {
  .calendar__title {
    font-size: 36px;
  }

  .calendar__title-wrapper {
    align-items: center;
    padding: 21px 0 21px 0;
    margin-bottom: 33px;
  }

  .calendar__control {
    height: 28px;
    width: 15px;
    margin: 0 19px;
  }

  .calendar__control--prev {
    background-size: 15px 28px;
  }

  .calendar__control--next {
    background-size: 15px 28px;
  }

  .calendar__table {
    width: 100%;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 18px;
    border-collapse: collapse;
  }

  .calendar__day-name {
    width: 22px;
    height: 26px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2px;

    @include primary-font($medium);
  }

  .calendar__day-number {
    width: 72px;
    height: 66px;
    font-size: 20px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .calendar__day-number {
    width: 100px;
    height: 72px;
    margin: 0;
    padding: 16px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
    text-align: left;
  }

  .calendar__day-of-week {
    padding: 16px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }
}
