.calendar {
  width: 220px;
}

.calendar__title-wrapper {
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  margin-bottom: 25px;
}

.calendar__title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.calendar__control {
  font-size: 0;
}

.calendar__table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 18px;

  @include primary-font($normal);
}

.calendar__day-of-week {
  color: $text-grey;
  background-color: #ffffff;
}

.calendar__day-of-week--weekend {
  color: #ff5c23;
}

.calendar__day-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #edeff6;
}

.calendar__day-number--inactive {
  background-color: #ffffff;
}

.calendar__day-number--selected {
  background-color: $dark-blue-2;
  color: #ffffff;
}

.calendar__day-number--active {
  background-color: $dark-blue-2;
  border: 2px solid #ff5c23;
  color: #ffffff;
}
