.companion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 18px 15px 60px 15px;
  width: $mobile-width-container;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: $white;
}

.companion-card__info {
  display: flex;
  width: 100%;
  margin-bottom: 77px;
}

.companion-card__user {
  position: relative;
  display: flex;
  flex-direction: column;
}

.companion-card__picture {
  margin-right: 16px;
}

.companion-card__like {
  position: absolute;
  bottom: 0;
  left: -40px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.companion-card__name {
  width: 78px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.companion-card__points {
  font-size: 14px;
  line-height: 21px;
  color: $dark-blue-3;

  @include primary-font($bold);
}

.companion-card__tags {
  position: absolute;
  bottom: -59px;
  left: -86px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 230px;
}

.companion-card__directions {
  margin-bottom: 20px;
  width: 100%;
}

.companion-card__title {
  padding: 0;
  margin: 0 0 12px 0;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: $text-grey;

  @include primary-font($normal);
}

.companion-card__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.companion-card__item {
  margin: 0 0 10px 0;
}

.companion-card__transport {
  width: 100%;
}

.companion-card__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.companion-card__inner-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.companion-card__transport-list {
  display: flex;
}

.companion-card__btn {
  position: absolute;
  left: -83px;
  bottom: -359px;
  width: 230px;
}

.companion-card__user-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .companion-card {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: $tablet-width-container-big;
    padding: 35px 25px 25px 35px;
  }

  .companion-card__info {
    margin-bottom: 15px;
  }

  .companion-card__like {
    position: inherit;
    width: 50px;
    height: 50px;
  }

  .companion-card__user {
    justify-content: space-between;
    width: 255px;
  }

  .companion-card__name {
    width: 100%;
    font-size: 30px;
    line-height: 30px;
  }

  .companion-card__points {
    display: inline-block;
    align-self: flex-end;
    width: 49px;
    margin: 0 0 14px 10px;
    font-size: 20px;
    line-height: 20px;
  }

  .companion-card__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .companion-card__item {
    width: auto;
    margin: 0 28px 0 0;
  }

  .companion-card__inner-wrapper {
    position: absolute;
    top: 35px;
    right: 15px;
    flex-direction: column;
    align-items: center;
    width: 60px;

    .transport-list__item {
      background-color: transparent;
    }

    .companion-card__title {
      display: none;
    }
  }

  .companion-card__title {
    display: inline-block;
  }


  .companion-card__tags {
    position: initial;
  }

  .companion-card__transport {
    margin-bottom: 10px;
  }

  .companion-card__transport-list {
    flex-direction: column;
    align-items: center;
  }

  .companion-card__btn {
    position: initial;
    width: 148px;
    padding: 25px 0;
  }
}

@media (min-width: $desktop-width) {
  .companion-card {
    position: relative;
    width: 950px;
    padding: 0;
    margin: 0 0 30px 0;
    flex-direction: row;
    align-items: center;
  }

  .companion-card__info {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 0;
  }

  .companion-card__like {
    display: block;
    top: 187px;
  }

  .companion-card__user {
    justify-content: space-between;
    width: 255px;
    min-height: 190px;
  }

  .companion-card__points {
    margin: 0;
    padding: 0 0 15px 10px;
  }

  .companion-card__list {
    flex-direction: column;
    justify-content: flex-start;
  }

  .companion-card__item {
    width: 100%;
    margin: 0 0 20px 0;

    &:last-child {
      margin: 0;
    }
  }

  .companion-card__title {
    display: none;
  }

  .companion-card__wrapper {
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
  }

  .companion-card__inner-wrapper {
    position: initial;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .companion-card__directions {
    min-height: 130px;
  }

  .companion-card__transport {
    margin: 0;
  }

  .companion-card__transport-list {
    flex-direction: row;
    align-items: center;
  }

  .companion-card__btn {
    top: 187px;
    left: 300px;
    display: inline-block;
  }
}
