.companions {
  z-index: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  margin-top: -30px;
  color: $white;
  border-radius: 0 0 30px 30px;
  background-color: $dark-blue-1;
}

.companions__container {
  @include container($mobile-width, $mobile-container-1);
}

.companions__desc {
  padding: 0 25px;
  margin-bottom: 57px;
}

.companions__title {
  padding: 0;
  margin: 0 0 21px 0;
  font-size: 24px;
  line-height: 24px;
  color: $orange-1;

  @include primary-font($bold);
}

.companions__text {
  padding: 0;
  margin: 0 0 21px 0;
  font-size: 16px;
  line-height: 22px;

  @include primary-font($light);
}

.companions__text--bold {
  @include primary-font($bold);
}

.companions__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 9px;
}

.companions__item {
  margin-bottom: 11px;
}

.companions__show-all {
  width: 100%;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .companions {
    padding-top: 197px;
    margin-top: -60px;
    border-radius: 0 0 60px 60px;
  }

  .companions__desc {
    padding: 0;
    margin-bottom: 20px;
  }

  .companions__text-br {
    display: inline-block;
    width: 30px;
  }

  .companions__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include container($tablet-width, $tablet-container-1);
  }

  .companions__title {
    margin-bottom: 58px;
    font-size: 45px;
    line-height: 45px;
  }

  .companions__text {
    margin-bottom: 40px;
    width: 425px;
    font-size: 28px;
    line-height: 33px;
  }

  .companions__text--bold {
    width: 280px;
    font-size: 21px;
    line-height: 25px;
  }

  .companions__list {
    padding: 0;
    margin: 0 0 70px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .companions__show-all {
    margin: 0 0 89px 0;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    padding: 0;
  }

  .companions__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 752px;

    @include container($desktop-width, $desktop-container);
    padding-left: 130px;
    padding-top: 192px;
  }

  .companions__desc {
    min-height: 483px;
    padding: 0;
  }

  .companions__title {
    line-height: 40px;
  }

  .companions__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 630px;
    margin: 0;
  }

  .companions__item {
    margin: 0;
  }

  .companions__show-all {
    position: absolute;
    bottom: 49px;
    left: 130px;
    width: 280px;
  }
}
