.companion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 0 20px 0;
  padding: 18px 15px;
}

.companion-card__info {
  width: 100%;
  display: flex;
  margin-bottom: 17px;
}

.companion-card__user {
  display: flex;
  flex-direction: column;
}

.companion-card__picture {
  position: relative;
  margin-right: 16px;
}

.companion-card__like {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 31px;
  height: 31px;
}

.companion-card__name {
  width: 78px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.companion-card__points {
  font-size: 14px;
  line-height: 21px;
  color: #161c35;

  @include primary-font($bold);
}

.companion-card__tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.companion-card__directions {
  width: 100%;
  margin-bottom: 20px;
}

.companion-card__title {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: $text-grey;

  @include primary-font($normal);
}

.companion-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.companion-card__item {
  margin-bottom: 10px;
}

.companion-card__transport {
  width: 100%;
}

.companion-card__wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 12px;
}

.companion-card__transport-list {
  display: flex;
}

.companion-card__btn {
  width: 230px;
}

@media (min-width: $tablet-width) {
  .companion-card {
    width: $tablet-width-container-big;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 35px 25px 25px 35px;
  }

  .companion-card__picture {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    background-color: pink;
  }

  .companion-card__like {
    bottom: 0;
    right: -213px;
    width: 50px;
    height: 50px;
  }

  .companion-card__user {
    width: 255px;
    justify-content: space-between;
  }

  .companion-card__name {
    font-size: 30px;
    line-height: 30px;
    width: auto;
  }

  .companion-card__points {
    display: inline-block;
    width: 49px;
    font-size: 20px;
    line-height: 20px;
    align-self: flex-end;
    margin-bottom: 17px;
  }

  .companion-card__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .companion-card__item {
    width: auto;
    margin: 0 28px 0 0;
  }

  .companion-card__wrapper {
    width: 60px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 15px;

    .companion-card__title {
      display: none;
    }

    .transport-list__item {
      background-color: transparent;
    }
  }

  .companion-card__tags {
    margin-top: -160px;
    margin-left: 6px;
    padding-bottom: 95px;
  }

  .companion-card__transport {
    margin-bottom: 10px;
  }

  .companion-card__transport-list {
    flex-direction: column;
    align-items: center;
  }

  .companion-card__btn {
    width: 148px;
    padding: 25px 0;
    position: absolute;
    top: 175px;
    left: 240px;
  }
}
