.companion-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 18px 15px 60px 15px;
  width: $mobile-width-container;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: $white;
}

.companion-card__info {
  display: flex;
  width: 100%;
}

.companion-card__user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.companion-card__picture {
  margin-right: 16px;
}

.companion-card__like {
  position: absolute;
  top: 58px;
  left: 58px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.companion-card__name {
  width: 78px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.companion-card__points {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  color: $dark-blue-3;

  @include primary-font($bold);
}

.companion-card__tags {
  order: 3;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -86px;
  margin-bottom: 10px;
  width: 230px;
}

.companion-card__directions {
  margin-bottom: 20px;
  width: 100%;
}

.companion-card__title {
  padding: 0;
  margin: 0 0 12px 0;
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: $text-grey;

  @include primary-font($normal);
}

.companion-card__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.companion-card__item {
  margin: 0 0 10px 0;
}

.companion-card__transport {
  width: 100%;
}

.companion-card__wrapper {
  display: flex;
  width: 100%;
}

.companion-card__transport-list {
  display: flex;
}

.companion-card__btn {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 230px;
}

.companion-card__user-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .companion-card {
    flex-direction: row;
    align-items: flex-start;
    width: $tablet-width-container-big;
    padding: 35px 25px 25px 35px;
  }

  .companion-card__info {
    width: 470px;
    margin-bottom: 30px;
    margin-right: 96px;
  }

  .companion-card__like {
    position: initial;
    width: 50px;
    height: 50px;
  }

  .companion-card__user {
    width: 255px;
  }

  .companion-card__name {
    width: 100%;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
  }

  .companion-card__points {
    display: inline-block;
    align-self: flex-end;
    width: 49px;
    margin: 0 0 14px 10px;
    font-size: 20px;
    line-height: 20px;
  }

  .companion-card__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .companion-card__item {
    width: auto;
    margin: 0 28px 0 0;
  }

  .companion-card__title {
    display: inline-block;
  }

  .companion-card__user-actions {
    order: 3;
  }

  .companion-card__tags {
    margin: 0 0 45px 0;
  }

  .companion-card__transport {
    margin-bottom: 10px;
  }

  .companion-card__transport-list {
    flex-direction: column;
    align-items: center;
  }

  .companion-card__btn {
    position: initial;
    width: 148px;
    padding: 25px 0;
  }

  .companion-card__directions {
    order: 3;
  }

  .companion-card__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    width: 60px;
    height: 190px;

    .companion-card__title {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .companion-card {
    width: 950px;
    padding: 0;
    margin: 0 0 30px 0;
    flex-direction: row;
    align-items: flex-start;
  }

  .companion-card__picture {
    display: flex;
  }

  .companion-card__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    margin: 0 90px 0 0;
  }

  .companion-card__user {
    width: 255px;
    padding-top: 50px;
  }

  .companion-card__user-actions {
    margin-bottom: 20px;
  }

  .companion-card__points {
    margin: 0;
    padding: 0 0 15px 10px;
  }

  .companion-card__directions {
    display: flex;
    width: 200px;
    padding-top: 50px;
    padding-bottom: 90px;
    margin: 0;

    .companion-card__list {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .companion-card__item {
    width: 100%;
    margin: 0 0 10px 0;

    &:last-child {
      margin: 0;
    }
  }

  .companion-card__title {
    display: none;
  }

  .companion-card__wrapper {
    order: 3;
    position: absolute;
    bottom: 50px;
    right: 65px;
    width: 200px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .companion-card__transport {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
  }

  .companion-card__list {
    flex-direction: row;
    align-items: center;
  }
}
