.companions {
  display: flex;
  padding-top: 73px;
  flex-direction: column;
  align-items: center;
  background-color: $dark-blue-1;
  color: $white;
  border-radius: 0 0 30px 30px;
}

.companions__desc {
  width: 270px;
  padding: 0 25px;
  box-sizing: border-box;
}

.companions__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  color: $orange-1;

  @include primary-font($bold);
}

.companions__text {
  font-size: 16px;
  line-height: 22px;

  @include primary-font($light);
}

.companions__text--bold {
  @include primary-font($bold);
}

.companions__list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.companions__item {
  margin-bottom: 10px;
}

.companions__show-all {
  width: 270px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .companions {
    padding-top: 143px;
  }

  .companions__desc {
    width: $tablet-width-container;
    padding: 0;
  }

  .companions__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 61px;
  }

  .companions__text {
    width: 425px;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 46px;
  }

  .companions__text--bold {
    font-size: 21px;
    line-height: 25px;
  }

  .companions__list {
    width: $tablet-width-container;
    flex-direction: row;
    justify-content: space-between;
  }

  .companions__show-all {
    width: $tablet-width-container;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    padding: 0;
  }

  .companions__container {
    width: $desktop-width-container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 130px 0;
  }

  .companions__desc {
    min-height: 483px;
    padding: 0;
  }

  .companions__list {
    margin: 0;
  }

  .companions__item {
    margin: 0;
  }

  .companions__show-all {
    width: 280px;
    position: absolute;
    bottom: 134px;
    left: 0;
  }
}
