.contacts {
  list-style: none;

  @include primary-font($bold);

  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin: 0 0 42px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contacts__item {
  min-height: 45px;
}

.contacts__link {
  color: $dark-blue-1;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  margin-left: 62px;

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: -15px;
    left: -61px;
    border-radius: 50%;
  }
}

.contacts__phone {
  &::before {
    background: $dark-blue-4 url("../../img/contacts-phone.svg") no-repeat center center;
    background-size: 18px;
  }
}

.contacts__email {
  &::before {
    background: $dark-blue-4 url("../../img/contacts-mail.svg") no-repeat center center;
    background-size: 18px;
  }
}
