.contacts {
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  text-align: left;

  @include primary-font($bold);
}

.contacts__item {
  min-height: 45px;
}

.contacts__link {
  position: relative;
  margin-left: 62px;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark-blue-1;

  &::before {
    position: absolute;
    content: "";
    top: -15px;
    left: -61px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.contacts__phone {
  &::before {
    background: $dark-blue-4 url("../img/contacts-phone.svg") no-repeat center center;
    background-size: 18px;
  }
}

.contacts__email {
  &::before {
    background: $dark-blue-4 url("../img/contacts-mail.svg") no-repeat center center;
    background-size: 18px;
  }
}

.contacts--yellow {
  .contacts__link {
    color: $orange-4;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin: 0 0 134px 0;
    padding-left: 40px;
  }

  .contacts__item {
    min-height: 67px;
  }

  .contacts__link {
    font-size: 28px;

    &::before {
      width: 67px;
      height: 67px;
      top: -20px;
      left: -101px;
    }
  }

  .contacts__phone {
    &::before {
      background-size: 27px;
    }
  }

  .contacts__email {
    &::before {
      background-size: 27px;
    }
  }
}
