.continents {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.continents__item {
  margin-bottom: 9px;
}

.continents__link {
  font-size: 16px;
  text-decoration: none;
  line-height: 14px;
  text-transform: uppercase;
  color: rgba(25, 33, 68, 0.3);

  @include primary-font($bold);
}

.continents__link--active {
  color: $dark-blue-1;
}

@media (min-width: $tablet-width) {
  .continents {
    flex-direction: row;
    justify-content: space-between;
    width: 365px;
    padding: 0;
  }

  .continents__link {
    font-size: 20px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .continents {
    margin: 0 0 62px 345px;
  }
}
