.country-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  background-color: $bg-grey-2;
  border-radius: 0 0 30px 30px;
}

.country-filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 180px;

  @include container($mobile-width, $mobile-container-1);
}

.country-filter__title {
  position: relative;
  padding: 0;
  margin: 3px 0 0 27px;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $dark-blue-1;

  @include primary-font($bold);

  &::before {
    position: absolute;
    top: 1px;
    left: -27px;
    display: block;
    content: "";
    width: 15px;
    height: 20px;
    background: url("../img/filter.svg") no-repeat center center;
  }
}

.country-filter__continents {
  order: 3;
  padding: 0;
  margin: 16px 0 0 25px;
}

.country-filter__button {
  position: relative;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: none;

  &::before {
    position: absolute;
    top: -3px;
    right: 0;
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-size: contain;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 1px solid $border-input-hover;
  }
}

.country-filter__button--close {
  display: block;
  margin: 13px 7px 0 0;

  &::before {
    background: url("../img/filter-close.svg") no-repeat center center;
  }
}

.country-filter__button--open {
  display: none;

  &::before {
    top: 2px;
    right: 4px;
    width: 17px;
    height: 17px;
    background: url("../img/dots.svg") no-repeat center center;
  }
}

.country-filter--js {
  position: relative;
  border-radius: 0 0 0 0;

  .country-filter__wrapper {
    height: 50px;
  }

  .country-filter__continents {
    display: none;
  }

  .country-filter__popup {
    z-index: 50;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .country-filter__popup--is-close {
    display: none;
  }
}


.country-filter--filter-close {
  border-radius: 0 0 30px 30px;

  .country-filter__button--close {
    display: none;
  }

  .country-filter__button--open {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .country-filter {
    padding-top: 0;
    border-radius: 0 0 60px 60px;
  }

  .country-filter__wrapper {
    margin: 43px 0 43px 0;
    box-sizing: border-box;
    height: 50px;

    @include container($tablet-width, $tablet-container-1);
  }

  .country-filter__title {
    display: none;
  }

  .country-filter__continents {
    order: 2;
    padding: 0;
    margin: 16px 0 0 0;
  }

  .country-filter__button {
    order: 3;
    z-index: 2;
    position: relative;
    padding-right: 85px;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $dark-blue-1;

    @include primary-font($bold);
    cursor: pointer;
    background-position: top 1px right 2px;
    background-size: 19px;

    &::before {
      top: 0;
      right: 2px;
      width: 19px;
      height: 19px;
    }
  }

  .country-filter__button--open {
    padding-right: 47px;

    &::before {
      top: 1px;
      right: -1px;
      width: 28px;
    }
  }

  .country-filter__popup-wrapper {
    z-index: 1;
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
  }

  .country-filter--js {
    border-radius: 0 0 0 0;

    .country-filter__continents {
      display: flex;
    }

    .country-filter__popup {
      top: 120px;
      left: 0;
    }
  }

  .country-filter--filter-close {
    border-radius: 0 0 60px 60px;
  }
}

@media (min-width: $desktop-width) {
  .country-filter {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $bg-grey-1;
  }

  .country-filter__wrapper {
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 55px;

    @include container($desktop-width, 124px);
  }

  .country-filter__title {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 18px;

    &::before {
      top: 0;
      left: -44px;
      width: 23px;
      height: 20px;
    }

    &::after {
      position: absolute;
      right: -6px;
      top: 1px;
      display: inline-block;
      content: ":";
      color: $dark-blue-2;
    }
  }

  .country-filter__continents {
    margin-right: 327px;
    margin-top: 2px;
  }

  .country-filter__button {
    &::before {
      top: -1px;
      right: 4px;
    }
  }

  .country-filter__button--open {
    &::before {
      top: 1px;
      right: -3px;
    }
  }

  .country-filter__popup-wrapper {
    margin: 0 0 0 0;
  }

  .country-filter--js {
    border-radius: 0 0 0 0;

    .country-filter__popup {
      position: relative;
      top: 0;
    }
  }

  .country-filter--filter-close {
    border-radius: 0 0 60px 60px;
  }
}
