.country-table {
  padding: 0;
  margin: 0 0 67px 25px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.country-table__item {
  border: 1px solid $border-grey-2;
  margin-right: -1px;
  margin-bottom: -1px;
}

.country-table__item--active {
  border-color: $dark-blue-2;
}

.country-table__button {
  width: 45px;
  height: 42px;
  background-color: $white;
  border: none;

  @include primary-font($bold);
}

.country-table__button--active {
  background-color: $dark-blue-2;
  color: $white;
}

@media (min-width: $tablet-width) {
  .country-table {
    margin: 0 0 0 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .country-table__item {
    border: none;
    margin: 0 0 36px 0;
  }

  .country-table__button {
    width: 70px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: rgba(25, 33, 68, 0.2);
  }

  .country-table__button--active {
    color: $dark-blue-1;
  }
}
