.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.counter__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 16px;
  text-transform: uppercase;

  @include primary-font($medium);
}

.counter__title {
  color: $dark-blue-2;
}

.counter__desc {
  color: rgba(29, 46, 91, 0.3);
}

.counter__value {
  position: relative;
  display: flex;
  width: inherit;
  margin-bottom: 21px;
}

.counter__control {
  position: absolute;
  top: 0;
  height: 100%;
  width: 41px;
  font-size: 0;
  border: 0;
  opacity: 0.3;
}

.counter__control--minus {
  left: 0;
  background: url("../../img/qty-minus-mobile.svg") no-repeat center center;
  background-size: 14px;
}

.counter__control--plus {
  right: 0;
  background: url("../../img/qty-plus-mobile.svg") no-repeat center center;
  background-size: 14px;
}

.counter__number {
  height: 43px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  line-height: 13.5px;
  letter-spacing: 1.5px;
  color: $dark-blue-2;

  @include primary-font($medium);
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $border-grey-2;
}

.counter__checkbox-text {
  margin-left: 40px;
  font-size: 15px;
  line-height: 15px;
  color: $text-grey;

  @include primary-font($normal);
}

.counter__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  height: 26px;
}

.counter__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid $border-grey-2;
}

.counter__checkbox-input:checked ~ .counter__checkbox-indicator {
  background: url("../img/tick.svg") no-repeat center center;
  background-size: 8px;
}

@media (min-width: $tablet-width) {
  .counter {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .counter__wrapper {
    display: flex;
    flex-direction: column;
  }

  .counter__header {
    order: 2;
    margin-bottom: 25px;
    padding-top: 24px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    border-top: 1px solid $border-grey-1;
  }

  .counter__number {
    height: 70px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
    border: 1px solid $border-grey-2;
  }

  .counter__value {
    order: 3;
  }

  .counter__checkbox {
    order: 1;
    margin: 8px 0 32px 0;
    padding-left: 19px;
  }

  .counter__checkbox-text {
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $dark-blue-2;

    @include primary-font($medium);
  }

  .counter__checkbox-indicator {
    top: -5px;
    width: 36px;
    height: 36px;
  }

  .counter__checkbox-input:checked ~ .counter__checkbox-indicator {
    background-size: 12px;
  }

  .counter__control {
    width: 63px;
  }

  .counter__control--plus {
    background: url("../../img/qty-plus.svg") no-repeat center center;
    background-size: 20px;
  }

  .counter__control--minus {
    background: url("../../img/qty-minus.svg") no-repeat center center;
    background-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .counter__header {
    width: 500px;
    padding: 0 0 60px 0;
    border: none;
  }

  .counter__value {
    position: absolute;
    top: 30px;
    left: 230px;
    width: 181px;
  }

  .counter__wrapper {
    position: relative;
    padding-top: 56px;
  }

  .counter__checkbox {
    position: absolute;
    top: -120px;
    right: 0;
  }
}
