.country-table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.country-table__item {
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid $border-grey-2;
}

.country-table__item--active {
  border-color: $dark-blue-2;
}

.country-table__button {
  display: inline-block;
  width: 43px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: $dark-blue-2;

  @include primary-font($bold);
  background-color: $white;
}

.country-table__button--active {
  color: $white;
  background-color: $dark-blue-2;
}

.country-table__full-list {
  display: none;
  padding: 50px 0 0 0;
  margin: 0;
  list-style: none;
}

.country-table__link {
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: $text-grey;

  @include primary-font($normal);
}

.country-table__country-list {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: pink;
  border: 1px solid $border-grey-2;
}

.country-table--simple {
  margin: 0;
  border-radius: 4px;

  .country-table__button {
    width: 43px;
    height: 42px;
    border: 1px solid $border-grey-2;
  }

  .country-table__item--active {
    background-color: $bg-grey-1;
  }

  .country-table__button--active {
    color: $dark-blue-2;
    background-color: $border-grey-2;
  }

  .country-table__item {
    border: none;

    &:nth-child(5n) {
      .country-table__button {
        width: 42px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .country-table {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
  }

  .country-table__item {
    margin-right: 35px;
    margin-bottom: 28px;
    border: none;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }

  .country-table__button {
    width: 35px;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: rgba(25, 33, 68, 0.2);
    background-color: transparent;
    cursor: pointer;
  }

  .country-table__button--active {
    color: $dark-blue-1;
  }
}

@media (min-width: $desktop-width) {
  .country-table {
    width: 100%;
    padding: 0 35px;
  }

  .country-table__item {
    width: 245px;
    margin: 0 0 57px 0;
  }

  .country-table__button {
    padding: 0;
    color: $dark-blue-1;
  }

  .country-table__full-list {
    display: block;
    padding: 37px 0 0 0;
  }
}
