.country-popup {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0 0 20px 20px;
  background-color: $bg-grey-2;
}

.country-popup__wrapper {
  @include container($mobile-width, $mobile-container-1);
  padding-top: 20px;
}

.country-popup__continents {
  padding: 0;
  margin: 0 0 13px 25px;
}

.country-popup__button {
  width: 100%;
  margin: 0 0 25px 0;
}

@media (min-width: $tablet-width) {
  .country-popup__wrapper {
    @include container($tablet-width, $tablet-container-1);
    padding-bottom: 50px;
  }

  .country-popup__table-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
  }

  .country-popup__continents {
    margin: 0 0 54px 0;
  }

  .country-popup__table {
    width: 345px;
  }

  .country-popup__country-list {
    width: 155px;
  }

  .country-popup__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .country-popup {
    background-color: $bg-grey-1;
    border-radius: 0;
  }

  .country-popup__wrapper {
    width: $desktop-width-container;
  }
}
