.country-list {
  padding: 0;
  margin: 0 0 38px 25px;
  list-style: none;
}

.country-list__link {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: $text-grey;

  @include primary-font($normal);
}

.country-list--simple {
  padding: 59px 0 20px 20px;
  margin: 0;
  border: 1px solid $border-grey-2;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

@media (min-width: $tablet-width) {
  .country-list {
    margin: 0 20px 0 0;
  }

  .country-list__item {
    margin-bottom: 8px;
  }

  .country-list__link {
    font-size: 20px;
  }

  .country-list--simple {
    padding: 37px 0 46px 25px;
    border: none;
    border-radius: 0;
  }
}

@media (min-width: $desktop-width) {
  .country-list {
    display: none;
  }

  .country-list--simple {
    display: block;
  }
}
