.directions {
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  background-color: $bg-grey-1;
  border-radius: 0 0 30px 30px;
}

.directions__wrapper {
  margin-bottom: 61px;
  box-sizing: border-box;

  @include container($mobile-width, $mobile-container-2);
}

.directions__title {
  font-size: 24px;
  line-height: 24px;
  color: $orange-1;

  @include primary-font($bold);
}

.directions__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;

  @include primary-font($light);
}

.directions__cards {
  @include container($mobile-width, $mobile-container-1);
}

.directions__list {
  width: 100%;
  padding: 0;
  margin: 0 0 24px 0;
  list-style: none;
}

.directions__item {
  margin-bottom: 10px;
}

.directions__show-all {
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .directions {
    padding-top: 71px;
    background: $bg-grey-1 url("../img/flags-back@1x.png") no-repeat top 80px right 40px;

    @media (min-resolution: $retina-dppx) {
      background: $bg-grey-1 url("../img/flags-back@2x.png") no-repeat top 80px right 40px;
      background-size: 288px;
    }
    border-radius: 0 0 60px 60px;
  }

  .directions__wrapper {
    padding: 0;
    margin-bottom: 107px;

    @include container($tablet-width, $tablet-container-1);
  }

  .directions__title {
    padding: 0;
    margin: 0 0 58px 0;
    font-size: 45px;
    line-height: 45px;
  }

  .directions__list {
    margin-bottom: 47px;
  }

  .directions__text {
    font-size: 28px;
    line-height: 33px;
  }

  .directions__cards {
    @include container($tablet-width, $tablet-container-1);
    margin-bottom: 51px;
  }

  .directions__show-all {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .directions {
    justify-content: flex-start;
    min-height: 589px;
    padding: 0;
    background: $bg-grey-1;
  }

  .directions__container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    background: $bg-grey-1 url("../img/flags-back@1x.png") no-repeat top 86px right 57px;

    @include container($desktop-width, $desktop-container-1);
    padding-top: 163px;
    border-radius: 0 0 60px 60px;
  }

  .directions__cards {
    width: 560px;
    padding: 0;
    margin-bottom: 139px;
  }

  .directions__list {
    margin: 0;
  }

  .directions__wrapper {
    width: 450px;
    padding: 0;
  }

  .directions__title {
    line-height: 48px;
  }

  .directions__show-all {
    position: absolute;
    bottom: 110px;
    right: 303px;
    width: 275px;
  }
}
