.directions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 78px;
  background-color: $bg-grey-1;
  border-radius: 0 0 30px 30px;
}

.directions__wrapper {
  width: $mobile-width-container;
  padding: 0 25px;
  margin-bottom: 66px;
  box-sizing: border-box;
}

.directions__title {
  font-size: 24px;
  line-height: 24px;
  color: $orange-1;

  @include primary-font($bold);
}

.directions__text {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;

  @include primary-font($light);
}

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.directions__item {
  margin-bottom: 10px;
}

.directions__show-all {
  width: $mobile-width-container;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .directions {
    background: $bg-grey-1 url("../img/flags-back@1x.png") no-repeat 90% 110px;
    border-radius: 0 0 30px 30px;
  }

  .directions__wrapper {
    padding: 0;
    margin-bottom: 113px;
    width: $tablet-width-container;
  }

  .directions__title {
    margin-bottom: 62px;
    font-size: 45px;
    line-height: 45px;
  }

  .directions__list {
    margin-bottom: 47px;
  }

  .directions__text {
    font-size: 28px;
    line-height: 33px;
  }

  .directions__show-all {
    width: $tablet-width-container;
  }
}

@media (min-width: $desktop-width) {
  .directions {
    min-height: 750px;
    padding: 0;
    background: $bg-grey-1;
  }

  .directions__container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: $desktop-width-container;
    min-height: 575px;
    background: $bg-grey-1 url("../img/flags-back@1x.png") no-repeat center right;
  }

  .directions__show-all {
    position: absolute;
    bottom: 0;
    right: 375px;
    width: 247px;
  }
}
