.form-field-border {
  width: 270px;
  padding: 0;
  border: 1px solid $border-grey-2;
  border-radius: 10px;
  margin-bottom: 25px;
}

.form-field-border__title {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: $dark-blue-2;
  background-color: $bg-grey-1;
  text-transform: uppercase;

  @include primary-font($bold);
}

.form-field-border__text {
  width: 270px;
  height: 89px;
  padding: 26px;
  box-sizing: border-box;
  border: none;
  resize: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;

  @include primary-font($normal);
}

.form-field-border__list {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .form-field-border {
    width: 308px;
    padding: 0;
    margin-bottom: 51px;
  }

  .form-field-border__title {
    font-size: 20px;
    line-height: 18px;
  }

  .form-field-border__text {
    width: $tablet-width-container;
    font-size: 20px;
    line-height: 24px;
  }
}
