.form-field-border {
  padding: 0;
  border: 1px solid $border-grey-2;
  border-radius: 10px;
}

.form-field-border__wrapper {
  position: relative;
}

.form-field-border__title {
  position: absolute;
  top: -9px;
  right: 0;
  display: inline-block;
  width: 100%;
  text-align: center;

  @include primary-font($bold);
}

.form-field-border__title-text {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-blue-2;
  background-color: $bg-grey-1;
}

.form-field-border__text {
  width: 100%;
  padding: 26px;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;

  @include primary-font($normal);
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  resize: none;
}

.form-field-border__list {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .form-field-border {
    padding: 0;
    margin-bottom: 51px;
  }

  .form-field-border__title {
    top: calc(100% - 7px);
  }

  .form-field-border__title-text {
    font-size: 20px;
    line-height: 18px;
  }

  .form-field-border__text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .form-field-border {
    padding: 0;
    margin: 0;
  }

  .form-field-border__title--tags {
    bottom: 0;
    left: 17px;
    text-align: left;
  }
}
