.form-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 23px;
  background-color: $bg-grey-1;
}

.form-user__details {
  margin-bottom: 33px;
}

.form-user__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 9px 0;
  padding-top: 30px;

  @include container($mobile-width, $mobile-container-1);
}

.form-user__plans {
  width: 100%;
  min-height: 460px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 30px 30px 0 0;
  background-color: $bg-grey-3;
}

.form-user__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include container($mobile-width, $mobile-container-1);
  margin: 0 auto 20px auto;
}

.form-user__tags {
  width: 100%;
  margin-bottom: 25px;
}

.form-user__transport {
  width: 100%;
  margin-bottom: 25px;
}

.form-user__title {
  @include container($mobile-width, $mobile-container-1);

  margin: 28px 0 30px 0;
  font-size: 24px;
  line-height: 24px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.form-user__plans-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-user__add-plan {
  width: 100%;
  margin-top: -30px;
  margin-bottom: 14px;
  background-color: $bg-grey-4;
  border: none;
  border-radius: 30px 30px 0 0;
}

.form-user__step {
  margin: 0 0 10px 0;
}

@media (min-width: $tablet-width) {
  .form-user {
    padding: 93px 0 0 0;
  }

  .form-user__info {
    position: relative;

    @include container($tablet-width, $tablet-container-1);
    margin-bottom: 10px;
  }

  .form-user__wrapper {
    @include container($tablet-width, $tablet-container-1);
  }

  .form-user__tags {
    @include container($tablet-width, $tablet-container-1);
  }

  .form-user__transport {
    position: absolute;
    top: 0;

    @include container($mobile-width, $mobile-container-1);
    margin-bottom: 25px;
  }

  .form-user__title {
    @include container($tablet-width, $tablet-container-1);
    margin: 50px 0 40px 0;
    font-size: 36px;
    line-height: 50px;
  }

  .form-user__details {
    margin-bottom: 53px;
  }

  .form-user__step {
    margin: 0 0 40px 0;
  }

  .form-user__plans {
    min-height: 561px;
  }

  .form-user__add-plan {
    margin-bottom: 4px;

    .form-user__title {
      margin: 46px 0 48px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-user {
    padding-top: 132px;
  }

  .form-user__step {
    margin: 0 0 44px 0;
  }

  .form-user__info {
    flex-direction: row;
    justify-content: space-between;

    @include container($desktop-width, $desktop-container-1);
    padding-bottom: 65px;
    padding-right: $desktop-container;
    padding-left: 125px;
    margin: 0;
    box-sizing: border-box;
  }

  .form-user__wrapper {
    @include container($desktop-width, $desktop-container);
    padding-right: 60px;
    padding-left: 125px;
  }

  .form-user__details {
    position: absolute;
    top: -262px;
    right: 154px;
    margin: 0;
    padding: 0;
  }

  .form-user__tags {
    width: 730px;
  }

  .form-user__transport {
    position: relative;
    width: 384px;
  }

  .form-user__title {
    width: 100%;
    padding: 0;
    margin: 48px 0 41px 10px;
  }

  .form-user__add-plan {
    margin-top: -60px;
    border-radius: 60px 60px 0 0;

    .form-user__wrapper {
      padding-left: 60px;
      margin-bottom: 84px;
    }

    .form-user__title {
      margin: 49px 0 49px 0;
      padding-left: 70px;
    }
  }

  .form-user__plans {
    min-height: 472px;
    border-radius: 60px 60px 0 0;
  }
}
