.form-user {
  width: 320px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-user__photo {
  border: none;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 25px;
}

// Форма тэгов

.form-user__tags {
  width: 270px;
  padding: 0;
  border: 1px solid #cbced9;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
}

.form-user__title {
  display: inline-block;
  height: 30px;
  position: absolute;
  // Надо придумать нормульное центрирование заголовка
  top: -15px;
  left: 0;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: $dark-blue-2;
  background-color: #edeff6;
  text-transform: uppercase;

  @include primary-font($bold);
}

.form-user__text {
  width: 270px;
  height: 89px;
  padding: 26px;
  box-sizing: border-box;
  border: none;
  resize: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;

  @include primary-font($normal);
}

// Форма видов транспорта

.form-user__transport {
  border: 1px solid #cbced9;
  border-radius: 10px;
  width: 270px;
  height: 63px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 37px;
}

.form-user__plans {
  border: none;
}
