.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 19px 0 0 0;
  margin: 0;
  color: $white;
  background: $dark-blue-3 url("../img/globe-back-mobile@1x.jpg") no-repeat center -72px;

  @media (min-resolution: $retina-dppx) {
    background: $dark-blue-3 url("../img/globe-back-mobile@2x.jpg") no-repeat center -72px;
    background-size: 319px;
  }

  &::before {
    z-index: 1;
    position: absolute;
    top: 405px;
    left: 0;
    content: "";
    display: block;
    height: 190px;
    width: 100%;
    background-color: $dark-blue-3;
  }
}

.intro__title {
  display: inline-block;
  margin: 0 0 246px 0;
  padding: 0;
  width: 240px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;

  @include primary-font($bold);
}

.intro__wrapper {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
  background: url("../img/traveller-illustration-mobile@1x.png") no-repeat 79px 131px;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/traveller-illustration-mobile@2x.png") no-repeat 79px 131px;
    background-size: 192px;
  }

  @include container($mobile-width, $mobile-container-1);
}

.intro__social {
  margin: 0 0 26px 0;
}

.intro__reviews {
  margin-left: 50px;
  margin-bottom: 31px;
}

.intro__action {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 55px 0 0 0;
    background: $dark-blue-1 url("../img/globe-back-tablet@1x.jpg") no-repeat center top 278px;

    @media (min-resolution: $retina-dppx) {
      background: $dark-blue-1 url("../img/globe-back-tablet@2x.jpg") no-repeat center top 278px;
      background-size: 1478px;
    }

    &::before {
      display: none;
    }
  }

  .intro__wrapper {
    background: url("../img/traveller-illustration-tablet@1x.png") no-repeat 284px 245px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/traveller-illustration-tablet@2x.png") no-repeat 284px 245px;
      background-size: 371px;
    }

    @include container($tablet-width, $tablet-container-2);
  }

  .intro__title {
    width: 395px;
    margin: 0 0 87px 0;
    font-size: 60px;
    line-height: 70px;
    text-align: center;

    @include primary-font($bold);
  }

  .intro__action {
    width: 100%;
  }

  .intro__reviews {
    margin: 0 0 213px 0;
  }

  .intro__social {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding: 0;
    background: $dark-blue-1 url("../img/globe-back-desktop@1x.jpg") no-repeat bottom left -179px;
    background-size: 126%;

    @media (min-resolution: $retina-dppx) {
      background: $dark-blue-1 url("../img/globe-back-desktop@2x.jpg") no-repeat bottom left -179px;
      background-size: 126%;
    }

    border-radius: 0 0 60px 60px;
  }

  .intro__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 640px;

    @include container($desktop-width, $desktop-container);
    padding-top: 98px;
    margin: 0;
    background: url("../img/traveller-illustration-desktop@1x.png") no-repeat center right 40%;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/traveller-illustration-desktop@2x.png") no-repeat center right 40%;
      background-size: 431px;
    }
  }

  .intro__title {
    width: 435px;
    margin: 0 0 0 68px;
    text-align: left;
  }

  .intro__reviews {
    margin: 14px 0 0 0;
    padding: 0;
  }

  .intro__action {
    position: absolute;
    bottom: 124px;
    left: 0;
  }
}
