.intro {
  height: 715px;
  padding: 32px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-color: $dark-blue-3;
}

.intro__title {
  @include primary-font($bold);
  font-size: 36px;
  line-height: 40px;
  width: 240px;
  text-align: center;
  margin: 0 0 265px 0;
  padding: 0;
}

.intro__wrapper {
  display: flex;
  min-width: 320px;
  height: 405px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 52px 0;
  background:
    url("../../img/traveller-illustration-mobile@1x.png") no-repeat 85px bottom,
    url("../../img/globe-back-mobile@1x.jpg") no-repeat center -70px;
}
