.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.location__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 206px;
  background-color: $orange-4;
  border-radius: 0 0 30px 30px;
}

.location__desc {
  @include container($mobile-width, $mobile-container-1);
}

.location__address {
  margin: 33px 0 32px 61px;
  padding: 0;
}

.location__link {
  position: relative;
  display: inline-block;
  width: 143px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark-blue-1;

  @include primary-font($bold);
  cursor: pointer;

  &::before {
    position: absolute;
    top: -2px;
    left: -62px;
    display: block;
    content: "";
    width: 45px;
    height: 45px;
    background: url("../img/contacts-location.svg") no-repeat center center;
    background-size: 22px 24px;
    border-radius: 50%;
    border: 1px solid $black; // Заменить на черный фон когда вствлю svg
  }
}

.location__navigate {
  width: $mobile-width-container;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .location__desc {
    width: $tablet-width-container;
    padding-top: 40px;
  }

  .location__link {
    width: 100%;
    margin-bottom: 64px;
    font-size: 28px;
    line-height: 28px;
  }

  .location__navigate {
    width: 100%;
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop-width) {
  .location__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $desktop-width-container;
    padding: 60px 0;
  }

  .location__address {
    margin: 0 148px 0 0;
    padding: 0;
  }

  .location__link {
    margin: 0;
  }

  .location__navigate {
    margin: 0;
    width: 324px;
  }
}
