.location {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -30px;
}

.location__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 206px;
  padding-top: 30px;
  background-color: $orange-4;
  border-radius: 0 0 30px 30px;
}

.location__desc {
  @include container($mobile-width, $mobile-container-1);
}

.location__address {
  margin: 33px 0 32px 61px;
  padding: 0;
}

.location__link {
  position: relative;
  display: inline-block;
  width: 143px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark-blue-1;

  @include primary-font($bold);
  cursor: pointer;

  &::before {
    position: absolute;
    top: -2px;
    left: -62px;
    display: block;
    content: "";
    width: 45px;
    height: 45px;
    background: $dark-blue-4 url("../img/contacts-location.svg") no-repeat center center;
    background-size: 14px;
    border-radius: 50%;
  }
}

.location__navigate {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    padding-top: 160px;
    margin-top: -60px;
    border-radius: 0 0 60px 60px;
  }

  .location__desc {
    @include container($tablet-width, $tablet-container-1);
  }

  .location__address {
    padding: 0;
    margin: 0;
  }

  .location__link {
    width: 520px;
    margin-bottom: 62px;
    padding-left: 93px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: -22px;
      left: 1px;
      width: 66px;
      height: 66px;
      background-size: 21px;
    }
  }

  .location__navigate {
    width: 100%;
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop-width) {
  .location__wrapper {
    min-height: 230px;
    padding-top: 60px;
  }

  .location__desc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    @include container($desktop-width, $desktop-container-1);
    padding-top: 90px;
    padding-right: 134px;
  }

  .location__address {
    margin: 0;
    padding: 0;
  }

  .location__link {
    padding-right: 58px;
    margin: 0;
    line-height: 82px;

    &::before {
      top: -6px;
      left: -29px;
      width: 90px;
      height: 90px;
      background-size: 32px;
    }
  }

  .location__navigate {
    margin: 0;
    width: 324px;
  }
}
