.main-nav {
  display: flex;
  //display: none; // Убрать после добавления класса в js
  justify-content: center;
  background-color: $white;
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__contacts {
  display: flex;
  flex-direction: column;
}

.main-nav__social {
  display: flex;
  justify-content: center;
}

.main-nav__header-social {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    padding-left: 40px;
  }

  .main-nav__list {
    justify-content: flex-start;
  }

  .main-nav__social {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: flex-start;
    height: 50px;
    background-color: transparent;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 974px; //проверить почему не работает flex-grow
    padding: 0;
  }

  .main-nav__social {
    display: none;
  }

  .main-nav__contacts {
    display: none;
  }
}
