.main-nav {
  display: flex;
  justify-content: center;
  background-color: $white;
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__menu {
  margin: 40px 0 53px 0;
}

.main-nav__top-menu {
  margin-bottom: 74px;
}

.main-nav__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.main-nav__social {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.main-nav__header-social {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    padding-top: 82px;
    padding-left: 57px;
  }

  .main-nav__list {
    justify-content: flex-start;
  }

  .main-nav__social {
    justify-content: flex-start;
    margin: 0 0 25px 13px;
  }

  .main-nav__contacts {
    margin-bottom: 105px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;
    justify-content: flex-start;
    height: 50px;
    background-color: transparent;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 974px; //проверить почему не работает flex-grow
    padding: 0;
  }

  .main-nav__social {
    display: none;
  }

  .main-nav__contacts {
    display: none;
  }
}
