.main-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $white;
}

.main-nav__contacts {
  display: flex;
  flex-direction: column;
}

.main-nav__social {
  display: flex;
  justify-content: center;
}

.main-nav__wrapper {
  min-width: $mobile-width-container;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    width: $tablet-width-container;
    padding-left: 60px;
  }

  .main-nav__list {
    justify-content: flex-start;
  }

  .main-nav__social {
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: flex-start;
    height: 50px;
    background-color: transparent;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 145px;
  }

  .main-nav__social {
    display: none;
  }

  .main-nav__contacts {
    display: none;
  }
}
