.map {
  width: 100%;
}

.map__frame {
  width: 100%;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .map__frame {
    height: 456px;
  }
}

@media (min-width: $desktop-width) {
  .map__frame {
    height: 395px;
  }
}
