.menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;

  @include primary-font($medium);
}

.menu-list__link {
  text-decoration: none;
  color: $dark-blue-1;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .menu-list {
    margin: 0 0 159px 0;
    font-size: 60px;
    text-align: left;
  }
}

.menu-list__item--social {
  .user-list__item {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .menu-list {
    flex-direction: row;
    margin: 0;
    font-size: 20px;
    text-align: left;
  }

  .menu-list__item {
    margin-right: 36px;

    &:last-child {
      margin: 0;
    }
  }

  .menu-list__link {
    color: $white;
  }
}
