.menu-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 45px 0 47px 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;

  @include primary-font($medium);
}

.menu-list__item {
  height: 36px;
}

.menu-list__link {
  display: inline-block;
  text-decoration: none;
  color: $dark-blue-1;
  cursor: pointer;
  overflow: hidden;

  span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
    color: $dark-blue-2;

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      transform: translate3d(0, 0, 0);
      color: $orange-4;
    }

    &:hover {
      transform: translateY(-100%);
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .menu-list {
    margin: 0 0 153px 0;
    font-size: 60px;
    text-align: left;
  }

  .menu-list__item {
    height: 71px;
  }

  .menu-list__item--social {
    .user-list__item {
      display: block;
    }
  }

}


@media (min-width: $desktop-width) {
  .menu-list {
    flex-direction: row;
    margin: 0;
    font-size: 20px;
    text-align: left;
  }

  .menu-list__item {
    height: 16px;
    margin-right: 33px;

    &:last-child {
      margin: 0;
    }
  }

  .menu-list__link {
    span {
      color: $white;
    }
  }
}
