.page-header {
  background-color: #fffffff;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 73px;
  margin-bottom: 70px;
}

.page-header__toggle {
  width: 19px;
  height: 19px;
  font-size: 0;
  background: transparent url("../../img/menu-close.svg") no-repeat center center;
  border: none;
}
