.page-title {
  width: 100%;
  height: 92px;
  background-color: $dark-blue-3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title__text {
  display: inline-block;
  height: 92px;
  width: 320px;
  padding-left: 27px;
  font-size: 36px;
  line-height: 92px;
  text-align: left;
  color: #ffffff;

  @include primary-font($bold);
}
