.page-title {
  width: 100%;
  background-color: $dark-blue-3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title__text {
  display: inline-block;
  width: 320px;
  padding: 27px 27px 26px 0;
  margin: 0;
  font-size: 36px;
  text-align: left;
  color: #ffffff;

  @include primary-font($bold);
}

@media (min-width: $tablet-width) {
  .page-title__text {
    width: $tablet-width-container;
    font-size: 60px;
    line-height: 70px;
    padding: 27px 27px 67px 0;
  }
}
