.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-grey-1;
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    width: $desktop-width-container;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
