.page-header {
  width: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $mobile-width;
  height: 73px;
  margin-bottom: 70px;
}

.page-header__toggle {
  width: 19px;
  height: 19px;
  font-size: 0;
  background: transparent url("../img/menu-close.svg") no-repeat center center;
  border: none;
}

.page-header__login {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: $tablet-width-container-big;
  }

  .page-header__login {
    display: block;
    width: 190px;
    padding: 25px 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $dark-blue-3;
  }

  .page-header__container {
    width: $desktop-width-container;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .page-header__wrapper {
    width: 200px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-header__login {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }
}
