.page-footer {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
  border-radius: 30px 30px 0 0;
}

.page-footer__wrapper {
  width: $mobile-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 41px;
}

.page-footer__social {
  display: flex;
}

.page-footer__copyright {
  width: $mobile-width-container;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    align-items: center;
    width: $tablet-width-container;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 435px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__list {
    margin: 0;
  }

  .page-footer__copyright {
    width: 254px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin: 0;
    padding: 0;
    min-height: 155px;
  }

  .page-footer__container {
    width: $desktop-width-container;
    justify-content: space-between;
  }

  .page-footer__wrapper {
    width: calc(50% + 90px);
  }

  .page-footer__copyright {
    padding: 0;
    margin: 0;
  }

  .page-footer__list {
    display: flex;
  }
}
