.plan-step {
  width: $mobile-width-container;
  padding: 24px 24px 22px 24px;
  background-color: $white;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
}

.plan-step__title {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 20px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.plan-step__text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;

  @include primary-font($normal);
}

.plan-step__btn {
  width: 230px;
  margin-bottom: 20px;
}

.plan-step__country {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .plan-step {
    width: $tablet-width-container;
    padding: 49px 43px 0 43px;
    border-radius: 30px;
  }

  .plan-step__title {
    margin-bottom: 37px;
    font-size: 36px;
    line-height: 36px;
  }

  .plan-step__text {
    width: 500px;
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 24px;
  }

  .plan-step__country {
    margin-bottom: 14px;
  }

  .plan-step__btn {
    width: 285px;
    text-align: left;
  }

  .plan-step__btn--step-back {
    width: 200px;
    text-align: right;
  }

  .plan-step__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 49px 0;
  }

  .plan-step__calendar {
    margin-top: 60px;
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .plan-step {
    width: 1320px;
    padding: 100px 160px;
    border-radius: 60px;
  }

  .plan-step__text {
    width: 580px;
    margin-bottom: 56px;
  }

  .plan-step__calendar {
    margin-bottom: 56px;
  }

  .plan-step__wrapper {
    margin: 56px 0 0 0;
  }
}
