.plan-step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2px 20px 0 20px;
  background-color: $white;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
}

.plan-step--country {
  padding: 24px 20px 0 20px;

  .plan-step__title {
    margin: 0;
  }

  .plan-step__text {
    margin: 16px 0 19px 0;
  }
}

.plan-step--dally {
  padding: 25px 20px 0 20px;
  margin-bottom: 40px;

  .plan-step__title {
    margin: 0;
  }

  .plan-step__text {
    margin: 16px 0 19px 0;
  }
}

.plan-step__container {
  position: relative;
  width: 100%;
  margin: 0 5px;

  .plan-step__step-nav {
    display: none;
  }
}

.plan-step__country-wrapper {
  padding: 1px 0 0 0;
  margin-bottom: 25px;
}

.plan-step__dally-wrapper {
  position: relative;
  margin-bottom: 18px;

  .plan-step__text {
    margin-top: 15px;
    margin-bottom: 11px;
  }

  &::before {
    position: absolute;
    top: 119px;
    left: -14px;
    display: block;
    content: "";
    width: 2px;
    height: 281px;
    background-color: $dark-blue-2;
  }
}

.plan-step__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 20px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.plan-step__text {
  width: 215px;
  margin: 16px 0 21px 0;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;

  @include primary-font($normal);
}

.plan-step__btn {
  width: 230px;
}

.plan-step__btn--step-next {
  margin-bottom: 21px;
  margin-right: auto;
}

.plan-step__wrapper {
  margin-bottom: 14px;
  width: 100%;

  .plan-step__btn--step-next {
    margin: 0 0 18px 0;
  }
}

.plan-step__country {
  margin-bottom: 22px;
}

.plan-step__add-country {
  display: flex;
  flex-direction: column;
}

.plan-step__country-table {
  z-index: 10;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: $white;
  box-sizing: border-box;
}

.plan-step__calendar {
  padding: 20px 0 0 0;
}

@media (min-width: $tablet-width) {
  .plan-step {
    padding: 13px 44px 0 44px;
    border-radius: 30px;
  }

  .plan-step__dally-wrapper {
    padding-right: 30px;

    .plan-step__dally:last-child {
      margin-bottom: 0;
    }

    &::before {
      top: 130px;
      left: calc(100% - 4px);
      width: 3px;
      height: 262px;
    }

    &::after {
      position: absolute;
      top: 81px;
      right: 0;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $border-grey-2;
    }
  }

  .plan-step--country {
    padding: 27px 44px 0 44px;
    margin-bottom: 51px;

    .plan-step__title {
      margin-top: 22px;
    }

    .plan-step__text {
      width: 390px;
      margin: 35px 0 32px 0;
    }
  }

  .plan-step--dally {
    margin-bottom: 98px;
    padding: 27px 44px 0 44px;

    .plan-step__title {
      margin-top: 20px;
      margin-bottom: 34px;
    }

    .plan-step__text {
      margin-bottom: 59px;
    }

    .plan-step__wrapper {
      margin-top: 43px;
    }
  }

  .plan-step__container {
    margin: 0;
  }

  .plan-step__title {
    margin-bottom: 33px;
    font-size: 36px;
    line-height: 36px;
  }

  .plan-step__text {
    width: 500px;
    margin-bottom: 39px;
    font-size: 20px;
    line-height: 24px;
  }

  .plan-step__country {
    margin-bottom: 15px;
  }

  .plan-step__btn {
    position: relative;
    width: 285px;
    font-size: 24px;
    text-align: left;
    text-transform: none;

    &::after {
      position: absolute;
      top: calc(50% - 7px);
      right: 36px;
      display: block;
      content: "";
      width: 10px;
      height: 14px;
      background: url("../img/triangle-arrow-right.svg") no-repeat center center;
    }
  }

  .plan-step__btn--step-back {
    width: 200px;
    height: 82px;
    text-align: right;

    &::after {
      right: 167px;
      width: 10px;
      height: 14px;
      background: url("../img/triangle-arrow-left.svg") no-repeat center center;
    }
  }

  .plan-step__btn--step-next {
    margin-bottom: 56px;
  }

  .plan-step__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 49px 0 36px 0;
  }

  .plan-step__calendar {
    margin-top: 18px;
    margin-bottom: 44px;
  }

  .plan-step__country-wrapper {
    position: relative;
    padding-top: 41px;
    border-top: 1px solid $border-grey-2;

    &::after {
      position: absolute;
      top: 0;
      right: 135px;
      display: block;
      content: "";
      width: 1px;
      height: calc(100% + 40px);
      background: linear-gradient(to top, rgba($border-grey-2, 0.1) 0%, rgba($border-grey-2, 1) 30%, $border-grey-2 30%, $border-grey-2 100%) no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .plan-step {
    width: 1320px;
    padding: 62px 160px 80px 160px;
    border-radius: 60px;
  }

  .plan-step__container {
    position: relative;

    .plan-step__step-nav {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .plan-step--country {
    padding: 75px 160px;
    margin-bottom: 45px;

    .plan-step__text {
      border: none;
      margin-bottom: 0;
    }
  }

  .plan-step--dally {
    padding: 80px 160px 62px 160px;
    margin-bottom: 44px;

    .plan-step__title {
      margin-bottom: 34px;
    }

    .plan-step__text {
      width: 530px;
      margin-bottom: 70px;
      border: none;
    }

    .plan-step__wrapper {
      margin-top: 52px;
      margin-bottom: 24px;
    }
  }

  .plan-step__country-wrapper {
    padding-top: 62px;

    &::after {
      right: 225px;
      height: calc(100% + 140px);
    }
  }

  .plan-step__dally-wrapper {
    &::after {
      top: 100px;
    }

    &::before {
      top: 200px;
      left: calc(100% - 227px);
    }
  }

  .plan-step__title {
    flex-direction: row;
    margin-bottom: 34px;

    span {
      margin-right: 8px;
    }
  }

  .plan-step__text {
    width: 100%;
    padding-bottom: 54px;
    border-bottom: 1px solid $border-grey-2;
  }

  .plan-step__calendar {
    padding: 9px 0 0 0;
    margin-top: 0;
    margin-bottom: 56px;
  }

  .plan-step__wrapper {
    margin: 56px 0 10px 0;
  }

  .plan-step__btn--step-next {
    margin-bottom: 25px;
  }

  .plan-step__btn--step-back {
    margin-right: 4px;
  }
}
