.plans {
  width: 100%;
  border: none;
  background-color: #dfe3f0;
}

.plans__wrapper {
  width: 270px;
  margin: 0 auto;
}

.plans__title {
  font-size: 24px;
  line-height: 24px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.plans__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
