.plan-card {
  display: block;
  min-width: 270px;
  width: 100%;
  padding: 22px 23px 26px 24px;
  margin-bottom: 9px;
  border-radius: 10px;
  background-color: $white;
  box-sizing: border-box;
}

.plan-card__title {
  padding: 0;
  margin: 0 0 21px 0;
  font-size: 16px;
  line-height: 16px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.plan-card__number {
  @include primary-font($medium);
}

.plan-card__content {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: $dark-blue-2;

  @include primary-font($medium);
}

.plan-card__text {
  padding: 0;
  margin: 0 0 5px 0;
}

.plan-card__data {
  margin: 0 0 23px 0;
  padding: 0;
}

.plan-card__link {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);

  @include primary-font($medium);
}

@media (min-width: $tablet-width) {
  .plan-card {
    width: $tablet-width-container;
    padding: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 74px;
    }
  }

  .plan-card__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 34px;
    margin: 0 0 19px 0;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px solid $border-grey-1;
  }

  .plan-card__number {
    font-size: 20px;
    line-height: 24px;
  }

  .plan-card__content {
    display: flex;
    justify-content: space-between;
    padding: 0 34px 19px 34px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .plan-card__text {
    margin: 0;
  }

  .plan-card__data {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .plan-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1256px;
  }

  .plan-card__title {
    flex-direction: row;
    justify-content: flex-start;
    width: 300px;
    margin: 0;
    border-bottom: 1px solid $border-grey-1;
  }

  .plan-card__number {
    margin-right: 37px;
  }

  .plan-card__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 650px;
    padding: 0;
  }
  // не работает выравние почему то justify-self
  //
  //.plan-card__link {
  //  justify-self: flex-end;
  //}

  .plan-card__text {
    margin-right: 30px;
    width: 200px;
  }

  .plan-card__data {
    margin-right: 80px;
    width: 200px;
  }
}
