.rates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0 0 0;
  background-color: $bg-grey-1;
}

.rates__wrapper {
  @include container($mobile-width, $mobile-container-1);
}

.rates__text {
  position: relative;
  width: 110px;
  margin: 0 0 44px 0;
  padding-left: 25px;
  font-size: 24px;
  line-height: 24px;
  color: $orange-1;

  @include primary-font($bold);

  &::after {
    position: absolute;
    top: -13px;
    right: -135px;
    display: block;
    content: "";
    width: 100px;
    height: 100px;
    background: url("../img/rates@1x.png") no-repeat center center;
    background-size: contain;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/rates@2x.png") no-repeat center center;
      background-size: contain;
    }
  }
}

.rates__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 0 25px;
  margin: 0 0 22px 0;
  list-style: none;
}

.rates__item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 66px;
  font-size: 16px;
  line-height: 22px;
  color: $text-grey;
  border-top: 1px solid rgba(229, 229, 229, 0.5);

  @include primary-font($light);

  &:last-child {
    border-bottom: 1px solid rgba(229, 229, 229, 0.5);
  }

  &:nth-child(1) {
    .rates__number {
      background-color: $orange-2;
    }
  }

  &:nth-child(2) {
    .rates__number {
      background-color: $orange-3;
    }
  }

  &:nth-child(3) {
    .rates__number {
      background-color: $orange-4;
    }
  }
}

.rates__number {
  position: absolute;
  top: 4px;
  right: 26px;
  display: block;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: $white;

  @include primary-font($normal);
  border-radius: 50%;
}

.rates__business {
  width: 100%;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .rates {
    padding: 71px 0 0 0;
    border-radius: 0 0 60px 60px;
  }

  .rates__wrapper {
    @include container($tablet-width, $tablet-container-1);
    background: url("../img/rates@1x.png") no-repeat bottom 45px right 85px;
    background-size: 100px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/rates@2x.png") no-repeat bottom 45px right 85px;
      background-size: 100px;
    }
  }

  .rates__text {
    width: 100%;
    padding: 0;
    margin-bottom: 75px;
    text-align: center;
    font-size: 45px;
    line-height: 45px;

    &::after {
      display: none;
    }
  }

  .rates__list {
    padding: 0;
    margin-bottom: 58px;
  }

  .rates__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 563px;
    min-height: 65px;
    padding: 0;
    margin-left: 55px;
    font-size: 28px;
    line-height: 33px;
  }

  .rates__number {
    top: 0;
    left: -89px;
    width: 65px;
    height: 65px;
    font-size: 28px;
    line-height: 65px;
  }

  .rates__business {
    position: relative;
    width: 100%;
    padding: 0 0 0 54px;
    margin-bottom: 88px;

    &::before {
      position: absolute;
      top: -23px;
      left: -34px;
      display: block;
      content: "";
      width: 65px;
      height: 65px;
      background: $bg-grey-2 url("../img/business.svg") no-repeat center center;
      background-size: 18px;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .rates {
    padding: 0;
  }

  .rates__container {
    display: flex;
    align-items: center;
    min-height: 750px;

    @include container($desktop-width, $desktop-container-1);
  }

  .rates__wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: right 3px top 181px;
    background-size: 200px;
  }

  .rates__text {
    margin-bottom: 134px;
  }

  .rates__list {
    align-items: flex-start;
    width: 832px;
  }

  .rates__item {
    margin-left: 90px;
  }

  .rates__business {
    margin-left: 36px;
  }
}
