.register {
  position: relative;
}

.register__input {
  width: 100%;
  height: 62px;
  padding: 3px 0 0 22px;
  font-size: 18px;
  background-color: $white;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  outline: 0;

  &::placeholder {
    font-size: 18px;
    line-height: 18px;
    color: rgba($text-grey, 0.3);
  }

  &:hover {
    background-color: $bg-grey-1;
  }

  &:hover::placeholder {
    color: rgba($text-grey, 0.5);
  }

  &:active,
  &:focus {
    color: white;
    background-color: transparent;
    border: 2px solid $white;
  }

  &:focus::placeholder {
    color: white;
  }

  &:invalid {
    color: $red;
    background-color: $mail-form-invalid;
  }
}

.register__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 62px;
  padding: 0;

  &:active {
    .register__button-text {
      opacity: 0.3;
    }
  }

  &::after {
    right: 23px;
  }
}

.register__button-text {
  display: none;
  font-size: 24px;
  line-height: 24px;
  color: $dark-blue-2;

  @include primary-font($bold);
}

@media (min-width: $tablet-width) {
  .register__input {
    height: 80px;
    padding: 5px 0 0 35px;
    font-size: 24px;
    border-radius: 20px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
      color: rgba(68, 68, 68, 0.3);

      @include primary-font($bold);
    }
  }

  .register__button {
    border-radius: 0 20px 20px 0;
    min-width: 82px;
    padding: 36px;
    height: 80px;
    background-position: right 38px center;

    &::after {
      right: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .register__input {
    padding: 30px 0 32px 35px;
    font-size: 24px;
    line-height: 24px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .register__button {
    min-width: 327px;
    height: 80px;
    padding: 0 0 0 35px;
  }

  .register__button-text {
    display: inline-block;
  }
}
