.register {
  position: relative;
}

.register__input {
  width: 270px;
  height: 62px;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;

  &::placeholder {
    font-size: 18px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.register__button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 62px;
  border: none;
  border-radius: 10px;
  background-color: $light-gold;
}
