.reviews {
  display: flex;
  flex-direction: column;
  min-width: $mobile-width-container;
}

.reviews__text {
  display: inline-block;
  width: 160px;
  margin-bottom: 32px;
  line-height: 22px;

  @include primary-font($light);
}

.reviews__author {
  display: inline-block;
  width: 160px;
  line-height: 22px;

  @include primary-font($bold);
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 100%;
  }

  .reviews__text {
    width: 260px;
    margin-bottom: 52px;
    font-size: 28px;
    line-height: 33px;
  }

  .reviews__author {
    width: 260px;
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 300px;
  }
}
