.social {
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 26px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;

  svg {
    fill: $bg-grey-6;
  }
}

.social__link--fb {
  svg {
    width: 11px;
    height: 21px;
  }
}

.social__link--vk {
  svg {
    width: 23px;
    height: 12px;
  }
}

.social__link--in {
  svg {
    width: 18px;
    height: 18px;
  }
}

.social--yellow {
  .social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 0;
    background-color: $orange-4;
    border-radius: 50%;
  }

  .social__link {
    width: 100%;
    height: 100%;
  }

  svg {
    fill: $dark-blue-2;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 19px;
  }

  .social--yellow {
    .social__item {
      width: 60px;
      height: 60px;
    }
  }

  .social__link--fb {
    svg {
      width: 14px;
      height: 28px;
    }
  }

  .social__link--vk {
    svg {
      width: 30px;
      height: 28px;
    }
  }

  .social__link--in {
    svg {
      width: 24px;
      height: 28px;
    }
  }
}
