.tags-list {
  width: 190px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: $text-grey;
  font-size: 16px;
  line-height: 18px;

  @include primary-font($normal);
}

.tags-list__item {
  padding-right: 5px;

  &:last-child {
    padding: 0;
  }
}
