.tags-list {
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  color: $text-grey;

  @include primary-font($normal);
}

.tags-list__item {
  padding-right: 3px;

  &:last-child {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .tags-list {
    width: 225px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .tags-list {
    width: 225px;
  }
}
