.top-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40px;
  padding: 0;
  list-style: none;
}

.top-menu__item {
  height: 40px;
}

.top-menu__link {
  width: 190px;
  position: relative;
  padding: 20px 10px;
  cursor: pointer;

  &:active::before {
    opacity: 0.3;
  }
}

.top-menu__link-header {
  min-width: 270px;
  width: auto;
}

.top-menu__link--phone,
.top-menu__link--email {
  display: inline-block;
  width: 40px;
  padding: 20px 0;
  border-radius: 50%;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }
}

.top-menu__link--phone {
  background-color: $orange-1;

  &::before {
    background: url("../img/topmenu-phone.svg") no-repeat center center;
    background-size: 18px;
  }

  &:hover {
    background-color: $orange-5;
  }
}

.top-menu__link--email {
  background-color: $orange-3;

  &::before {
    background: url("../img/topmenu-mail.svg") no-repeat center center;
    background-size: 18px 14px;
  }

  &:hover {
    background-color: $orange-1;
  }
}

.top-menu--header {
  .top-menu__link--phone {
    display: none;
  }

  .top-menu__link--email {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .top-menu {
    display: none;
  }

  .top-menu--header {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .top-menu--header {
    display: flex;
    align-items: flex-start;
    height: 50px;
    margin: 0;

    .top-menu__link {
      display: block;
      padding: 25px 0;
    }

    .top-menu__link-header {
      min-width: 190px;
      width: auto;
      border-radius: 25px;
    }
  }

  .top-menu__link--phone,
  .top-menu__link--email {
    width: 50px;
  }
}
