.transport-list {
  list-style: none;
}

.transport-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
  width: 25px;
  height: 25px;

  &:last-child {
    margin: 0;
  }

  &:hover {
    .transport-list__label {
      box-shadow: 0 2px 10px 0 rgba($black, 0.08);
    }

    .transport-list__img {
      opacity: 0.7;
    }
  }

  &:active {
    .transport-list__label {
      background-color: $bg-grey-8;
    }

    .transport-list__img {
      opacity: 0.3;
    }
  }
}

.transport-list__img {
  opacity: 0.15;
}

.transport-list__text {
  display: none;
}

.transport-list--checkbox {
  padding: 14px 0;
  margin: 0;

  .transport-list__item {
    width: 33px;
    height: 33px;
    margin: 0;
    background-color: $white;
    border-radius: 50%;
  }

  .transport-list__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 50%;
  }

  .transport-list__img {
    display: block;
    margin: 0 auto;
    fill: $dark-blue-2;
    opacity: 1;
  }

  .transport-list__input:checked ~ .transport-list__img {
    fill: $bg-grey-1;
  }

  .transport-list__input:disabled ~ .transport-list__img {
    opacity: 0.15;
  }

  .transport-list__input:disabled:hover ~ .transport-list__img {
    opacity: 0.3;
  }

  .transport-list__input:focus ~ .transport-list__img {
    opacity: 0.3;
  }
}

.transport-list--grey-bg {
  .transport-list__item {
    width: 32px;
    height: 32px;
    margin: 0;
    background-color: $bg-grey-1;
    border-radius: 50%;
  }

  .transport-list__img {
    fill: rgba($black, 0.3);
  }
}

.transport-list__item--active {
  .transport-list__img {
    fill: $dark-blue-2;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .transport-list__item--plane {
    .transport-list__img {
      width: 19px;
      height: 21px;
    }
  }

  .transport-list__item--bus {
    .transport-list__img {
      width: 17px;
      height: 21px;
    }
  }

  .transport-list__item--bike {
    .transport-list__img {
      width: 24px;
      height: 21px;
    }
  }

  .transport-list__item--run {
    .transport-list__img {
      width: 20px;
      height: 21px;
    }
  }


  .transport-list--checkbox {
    padding: 25px 0;

    .transport-list__item {
      width: 43px;
      height: 43px;
      margin-right: 8px;
      border-radius: 50%;

      &:last-child {
        margin: 0;
      }

      .transport-list__img {
        width: 24px;
        height: 21px;
      }
    }
  }

  .transport-list--grey-bg {
    .transport-list__item {
      background: none;
    }

    .transport-list__img {
      width: 19px;
      height: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .transport-list--checkbox {
    padding: 25px 0;

    .transport-list__item {
      margin: 0;
    }
  }
}
