.transport-list {
  list-style: none;
}

.transport-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
  width: 25px;
  height: 25px;

  &:last-child {
    margin: 0;
  }
}

.transport-list__text {
  display: none;
}

.transport-list--checkbox {
  padding: 14px 0;
  margin: 0;

  .transport-list__item {
    width: 33px;
    height: 33px;
    margin: 0;
    background-color: $white;
    border-radius: 50%;
  }

  .transport-list__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 50%;
  }

  .transport-list__img {
    display: block;
    margin: 0 auto;
  }

  .transport-list__input:checked ~ .transport-list__img {
    display: none; // после подключения svg менять фон картинки
  }
}

.transport-list--grey-bg {
  .transport-list__item {
    width: 32px;
    height: 32px;
    margin: 0;
    background-color: $bg-grey-1;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .transport-list--checkbox {
    padding: 25px 0;

    .transport-list__item {
      width: 43px;
      height: 43px;
      margin-right: 8px;
      border-radius: 50%;

      &:last-child {
        margin: 0;
      }

      .transport-list__img {
        width: 19px;
        height: 21px;
      }
    }
  }

  .transport-list--grey-bg {
    .transport-list__item {
      background: none;
    }

    .transport-list__img {
      width: 19px;
      height: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .transport-list--checkbox {
    padding: 31px 0;

    .transport-list__item {
      margin: 0;
    }
  }
}
