.travel-card {
  width: 270px;
  height: 190px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
}

.travel-card--thailand {
  background: pink url("../../img/thailand-mobile@1x.jpg") no-repeat top center;
}

.travel-card--france {
  background: pink url("../../img/france-mobile@1x.jpg") no-repeat top center;
}

.travel-card--czech {
  background: pink url("../../img/czech-mobile@1x.jpg") no-repeat top center;
}

.travel-card__wrapper {
  height: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.travel-card_desc {
  position: relative;
  padding: 30px 0 27px 25px;
}

.travel-card__flag {
  position: absolute;
  top: -10px;
  left: 25px;
}

.travel-card__title {
  padding: 0;
  margin: 0 0 8px 0;
  color: $dark-blue-3;
  font-size: 21px;
  line-height: 21px;

  @include primary-font($bold);
}

.travel-card__slogan {
  padding: 0;
  margin: 0;
  color: $text-grey;
  opacity: 0.3;
  font-size: 16px;
  line-height: 18px;

  @include primary-font($medium);
}

.travel-card__count {
  padding: 30px 25px 0 0;
  color: $text-grey;
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;

  @include primary-font($medium);
}

.directions__show-all {
  width: 270px;
  margin-bottom: 30px;
}
