.travel-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 190px;
  border-radius: 10px;
}

.travel-card--thailand {
  background: url("../img/thailand-mobile@1x.jpg") no-repeat top center;
  background-size: contain;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/thailand-mobile@2x.jpg") no-repeat top center;
    background-size: contain;
  }
}

.travel-card--france {
  background: url("../img/france-mobile@1x.jpg") no-repeat top center;
  background-size: contain;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/france-mobile@2x.jpg") no-repeat top center;
    background-size: contain;
  }
}

.travel-card--czech {
  background: url("../img/czech-mobile@1x.jpg") no-repeat top center;
  background-size: contain;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/czech-mobile@2x.jpg") no-repeat top center;
    background-size: contain;
  }
}

.travel-card__wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  height: 90px;
  background-color: $white;
}

.travel-card__desc {
  position: relative;
  padding: 25px 0 27px 25px;
}

.travel-card__flag {
  position: absolute;
  top: -10px;
  left: 25px;
}

.travel-card__title {
  padding: 0;
  margin: 0 0 8px 0;
  font-size: 21px;
  line-height: 21px;
  color: $dark-blue-3;

  @include primary-font($bold);
}

.travel-card__slogan {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: $text-grey;

  @include primary-font($medium);
  opacity: 0.3;
}

.travel-card__count {
  padding: 30px 25px 0 0;
  font-size: 16px;
  line-height: 20px;
  color: $text-grey;

  @include primary-font($medium);
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .travel-card {
    flex-direction: row-reverse;
    width: 618px;
    height: 140px;
    background-position: right;
  }

  .travel-card--thailand {
    background: $white url("../img/thailand-desktop@1x.jpg") no-repeat top right;

    @media (min-resolution: $retina-dppx) {
      background: $white url("../img/thailand-desktop@2x.jpg") no-repeat top right;
      background-size: contain;
    }
  }

  .travel-card--france {
    background: $white url("../img/france-desktop@1x.jpg") no-repeat top right;

    @media (min-resolution: $retina-dppx) {
      background: $white url("../img/france-desktop@2x.jpg") no-repeat top right;
      background-size: contain;
    }
  }

  .travel-card--czech {
    background: $white url("../img/czech-desktop@1x.jpg") no-repeat top right;

    @media (min-resolution: $retina-dppx) {
      background: $white url("../img/czech-desktop@2x.jpg") no-repeat top right;
      background-size: contain;
    }
  }

  .travel-card__wrapper {
    flex-direction: column;
    width: 432px;
    background: none;
  }

  .travel-card__desc {
    padding: 31px 0 0 31px;
    margin-bottom: 20px;
  }

  .travel-card__title {
    font-size: 24px;
    line-height: 24px;
  }

  .travel-card__slogan {
    font-size: 20px;
    line-height: 17.7px;
  }

  .travel-card__flag {
    left: 415px;
    top: 40px;
  }

  .travel-card__count {
    padding: 0 0 0 31px;
    font-size: 20px;
    line-height: 30px;
  }
}
