.user-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background-color: $white;
}

.user-card__photo {
  width: 270px;
  height: 270px;
  border-radius: 10px 10px 0 0;
}

.user-card__level {
  position: absolute;
  top: 16px;
  left: 17px;
}

.user-card__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  background-color: $white;
  border-radius: 0 0 10px 10px;
}

.user-card__list {
  position: absolute;
  top: -17px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-card__item {
  padding-right: 19px;

  &:last-child {
    padding: 0;
  }
}

.user-card__name {
  margin-bottom: 16px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: $dark-blue-2;

  @include primary-font($bold);
}

.user-card__tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 190px;
  margin-bottom: 15px;
}

.user-card__transport {
  display: flex;
  justify-content: center;
  width: 190px;
  padding: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .user-card {
    width: 285px;
    justify-content: space-between;
    border-radius: 20px;
  }

  .user-card__wrapper {
    padding-top: 25px;
    border-radius: 0 0 20px 20px;
  }

  .user-card__name {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 24px;
  }

  .user-card__photo {
    width: 285px;
    height: 285px;
    border-radius: 20px 20px 0 0;
  }

  .user-card__tags {
    margin-bottom: 24px;
  }

  .user-card__transport {
    margin-bottom: 28px;
  }
}
