.user-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: $white;
  border-radius: 50%;
}

.user-level--form {
  width: 100px;
  height: 100px;

  .user-level__value {
    margin-bottom: 3px;
    font-size: 38px;
    line-height: 38px;
    color: $dark-blue-3;

    @include primary-font($bold);
  }

  .user-level__text {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: $text-grey;

    @include primary-font($normal);

    &::before {
      position: absolute;
      top: -2px;
      left: -10px;
      display: block;
      content: "";
      width: 50px;
      height: 2px;
      background-color: $border-grey-2;
    }
  }
}

.user-level__value {
  font-size: 24px;
  line-height: 24px;

  @include primary-font($bold);
}

.user-level__text {
  font-size: 14px;
  line-height: 14px;

  @include primary-font($normal);
}

.user-level--simple {
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 1px solid $orange-1;

  .user-level__value {
    color: $dark-blue-2;
  }
}

@media (min-width: $tablet-width) {
  .user-level--form {
    width: 94px;
    height: 94px;

    .user-level__value {
      color: $white;
    }

    .user-level__text {
      color: $white;
    }
  }
}
