.user-list {
  list-style: none;
  padding: 0;
  margin: 0 0 51px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.user-list__item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-list__login {
  width: 270px;
}
