.user-logo {
  display: flex;
  height: auto;
}

.user-logo__image {
  width: 70px;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .user-logo__image {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .user-logo {
    height: 285px;
    border-radius: 20px 0 0 20px;
  }

  .user-logo__image {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
  }
}
