$dark-blue-1: #192144;
$dark-blue-2: #1d2e5b;
$dark-blue-3: #161c35;
$dark-blue-4: #121936;
$light-gold: #ffd74b;
$bg-grey: #edeff6;
$title-orange: #ff8d30;
$text-grey: #444444;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$tablet-width-container: 618px;
$tablet-width-container-big: 688px; //временное название
$desktop-width-container: 1290px;

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
