$white: #ffffff;
$black: #000000;

$dark-blue-1: #192144;
$dark-blue-2: #1d2e5b;
$dark-blue-3: #161c35;
$dark-blue-4: #121936;

$orange-1: #ff8d30;
$orange-2: #ffa530;
$orange-3: #ffbd30;
$orange-4: #ffd74b;
$calendar-orange: #ff5c23;

$bg-grey-1: #edeff6;
$bg-grey-2: #e2e5f2;
$bg-grey-3: #dfe3f0;
$bg-grey-4: #d4d9eb;
$bg-grey-5: #d6daed;
$border-grey-1: #d6d9e6;
$border-grey-2: #cbced9;
$text-grey: #444444;

$mobile-width: 320px;
$mobile-width-container: 270px;

$tablet-width: 768px;
$tablet-width-container: 618px;
$tablet-width-container-big: 688px; //временное название

$desktop-width: 1440px;
$desktop-width-container: 1320px;

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
